<div id="box">
    <div id="design" class="circle">
        <img src="images/design.png" alt="Design" title="Design">
        <span>DESIGN</span>
        <div class="intro">
            We translate your communications strategy and objective into creative programs that connect with targeted audiences.
        </div>
    </div>
    <div id="qa" class="circle">
        <img src="images/qa.png" alt="Quality Assurance" title="Quality Assurance">
        <span>QUALITY ASSURANCE</span>
        <div class="intro">
            Production specialists, Web developers and programmers, retouch artists, typesetters and proofreaders ensure that every detail of a program—online and print—hits the mark.
        </div>
    </div>
    <div id="pm" class="circle">
        <img src="images/pm.png" alt="Project Management" title="Project Management">
        <span>PROJECT MANAGEMENT</span>
        <div class="intro">
            Dedicated account executives oversee your project from beginning to end, making sure it’s delivered on time, within budget and achieves the intended goal.
        </div>
    </div>
    <div id="interactive" class="circle">
        <img src="images/interactive.png" alt="Interactive" title="Interactive">
        <span>INTERACTIVE</span>
        <div class="intro">
            Our full-service, in-house interactive team produces creative solutions that combine effective design with user-friendliness.
        </div>
    </div>
</div>